body{
    margin:0;
    padding:0;
    background-color: #41426c;
    font-family:'Inter','sans-serif';
    box-sizing: border-box;
}/*
header{

}*/
#navbar{
    margin:0 auto;
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
   color:#fff;
}
#logo-container{
    display: flex;
    align-items: center;
}
#logo-container img{
    width:20px;
    height:22px;
}
#nav-items{
    display: flex;
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;  
}
#nav-items li{
    cursor: pointer;
}
#main-header{
    display: flex;
    justify-content: flex-end;
    color:#fff;
    position: relative;
}
#main-header .left{
    position: absolute;
    width:40%;
    top: 100px;
    left:10%;
    height: 100%;
    color: #fff;
}
#main-header .left .big-text {
    font-size: 70px;
    color: #fff;
    font-weight: 900px;
}
#main-header .left #overview{
    display:flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 15px;
}
#main-header .left #overview .overview-items{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#main-header .left #overview .overview-items h4{
    font-size:20px;
    margin:0;
    padding:0;
   
}
.gradient-text{
    color: #d042b4;
}
#main-header .left #overview .overview-items p{
    margin: 0;
    padding: 0;
    font-weight: 300px;
}
#main-header  .right{     /*make sure to put space between #main-header and .right*/
    width:90%;
    height:100%;
    z-index: -10;      /*keeps the thing at a top; the higher the value in the z-index the top it'll be*/
    mix-blend-mode: color-dodge ;   /*allows us to have blend mode*/
}
#main-header .right img{
    width:100%;
    height:105vh;
    margin-top:-11vh;
}

.buttons{
    display:flex;
}
.btn{
    padding:10px 20px; /*10 px--> top and bottom,20px --> left and right*/
    margin:0px 10px;  /*0px--> top& bottom ,10px;-->left & right*/
    transform: skewX(-20deg);
    border: 1px solid #7d63f1;
    background-color: transparent;
    color: #fff;
}
.btn1{
    background: #2d1e6b;
    background: linear-gradient(45deg, #7d63f1 6%, #2c2c94 28%, #f805d0 97%);
}
.band{
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 10px;
    margin-bottom: 100px;
    color: #fff;
    transform: rotate(-3deg);
    border: 1px solid #ffffff40;
    font-size: 30px;
    font-weight: 900;
    background-color: #ffffff40;
    box-shadow: 0 80px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
}
.band img{
    width: 25px;
    height: 25px;
}
.choose-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;  
}

.choose-section-title{  /* "." used bcz it's a class*/
    font-size: 40px;
    font-weight: 900;
}
.section-description{
    width: 500px;
    font-size: 18px;
    font-weight: 100;
}
.choose-section .image-carousel{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom:50px;
}
.image-carousel img{
    width:400px;
    height: 250px;
}
.image-carousel .center-img{
    width:600px;
    height: 400px;
}
.discover-section{
    width:70%;
    margin:100px auto;
    
}
.discover-card{
    display: flex;
    justify-content: flex-start; /*main access*/
    align-items: center;    /*top to bottom*/
    color: #fff;
    border: 1px solid #ffffff40;
    border-radius: 7px;
    background: #35276d;
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.discover-card img{
    margin-top: -70px;
    width: 50%;
    align-self:self-start;
}
.discover-card-details .big-text {
    font-size: 50px;
    font-weight:900;
    margin: 0;
}
.discover-card-details-btn{
  width: fit-content;
  border: 1px solid gray;
  padding:10px 20px;
  transform: skewX(-20deg);
}

.demo-card-section{
    display:flex;
    color:#fff;
    width:70%;
    margin:20px auto;
    align-items: center;
    flex-direction: column;
}
.demo-cards{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.demo-card{
    width:300px;
    display:flex;
    gap:15px;
    flex-direction:column;
    align-items:center;
    padding:10px 15px;
    border-radius:7px;
    border: 1px solid #ffffff23;
    background: #35276D;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
}
.demo-card > img{
    width:100%;
}
.demo-prof-details > img{
    width:40px;
    height:40px;
}
.demo-card > h5{
    margin: 0;
    align-self: self-start; 
    font-size: 20px; 
}
.demo-card > .demo-prof-details{
    display:flex;
    gap: 7px;
    align-self: self-start;
}
.demo-card h5, .demo-card p{
    margin:0 ; 
}
.demo-game-btn{
    cursor: pointer;
    padding: 10px 0;
    width: 90%;
    text-align:center;
    transform: skewX(-20deg);
    border: 1px solid #7d63f1;
    background: rgb(45,30,107);
    background: linear-gradient(45deg,#7d63f1 6%,#2c2c94 28%,#f805d0 97%);
    color:#fff;
}
.footer-container{
    display:flex;
    flex-direction:column;
    gap:40px;
    color:#fff;
    padding:100px 10% 0 10%;
    position: relative;
}
.footer-container .brands{
    display:flex;
    gap: 50px;
}
.footer-container .about-and-links  ul{
    display:flex;
    flex-direction:column;
    padding:0;
    gap:22px;
    list-style:none;
}
.footer-container h4{
    margin:0;
    font-size:20px;
    font-weight:700;
}
